<h2>Your Portfolio</h2>
<ul>
  <% @portfolio.line_works.each do |work| %>
    <li><%= work.quantity %> &times; <%= work.pattern.title %></li>
  <% end %>
</ul>

<%= button_to 'Empty portfolio', @portfolio, :method => :delete, :confirm => 'Are you sure?' %>
