/* Global styles */

body {
	background: #eeeeee url('../images/grid.png') repeat top left;
  border-right: 2px solid;
  border-bottom: 2px solid;
}

#market #notice {
  color: #000;
  border: 2px solid red;
  padding: 1em;
  margin-right: 32px;
  margin-bottom: 2em;
  background: #eeeeee url('../images/grid.png') repeat top left;
  font: bold smaller helvetica, sans-serif, serif;
}


#market h1 {
  font:  150% helvetica, sans-serif, serif;
  color: #3F464A;
  border-bottom: 1px dotted #3F464A;
}

/* Styles for patterns/index */

#pattern_list table {
  border-collapse: collapse;
}

#pattern_list table tr td {
  padding: 5px;
  vertical-align: top;
}

#pattern_list .list_image {
  width:        100px;
  height:       100px;
}

#pattern_list .list_description {
  width:        60%;
}

#pattern_list .list_description dl {
  margin: 0;
}

#pattern_list .list_description dt {
	color:        #244;
	font-weight:  bold;
	font-size:    larger;
}

#pattern_list .list_description dd {
  margin: 0;
}

#pattern_list .list_actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

#pattern_list .list_line_even {
  background:   #EBE5DB
}

#pattern_list .list_line_odd {
  background:   #DBE1EB;
}

/* An entry in the store catalog */

#market  .entry {
  overflow: auto;
  margin-top: 1em;
  border-bottom: 1px dotted #3F464A;
  position: relative;
}

#market  .title {
  font-size: 120%;
  font-family: helvetica, sans-serif, serif;
}

#market .entry img {
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
}

#market .entry div {
  display: inline-block;
}

#market .entry h3 {
  margin-top: 0;
  margin-bottom: 2px;
  color: #3F464A;
}

#market .entry p {
  margin-top: 0.5em; 
  margin-bottom: 0.8em; 
}

#market .entry .price_line {
  clear: both;
  margin-bottom: 0.5em;
}

#market .entry .add_to_cart {
  position: relative;
}

#market .entry  .price {
  color: #3F464A;
  font-weight: bold;
  margin-right: 1em;
}

#market .price_line form {
  display: inline-block;
}

#market .count {
  font: helvetica, sans-serif, serif;
  font-size: 10px;
  color: #3F464A;
  float: right;
  margin-top: 7px;
  margin-right: 3px;
}

#banner {
  background: #eeeeee url('../images/grid.png') repeat top left;
  padding-top: 12px;
  padding-bottom: 20px;
  border-top: 2px solid;
  border-left: 2px solid;
  font: helvetica, sans-serif, serif;
  font-size: 50px;
  color: #3F464A;
  text-align: center;
}

#banner img {
  float: left;
}

#columns {
  background: #6D6D6D;
}

#main {
  margin-right: 10em;
  padding-top: 4ex;
  padding-bottom: 4ex;
  padding-left: 2em;
  background: #eeeeee url('../images/grid.png') repeat top left;
  border-top: 2px solid;
  border-left: 2px solid;
  border-right: 2px solid;
}

#side {
  float: right;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 144px;
  background: #6D6D6D;
  border-top: 2px solid;
  border-left: 2px solid;
}

#side a {
  color: #EEEEEE;
  float: center;
}



